<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <queries>
        <package android:name="com.miui.fliphome" />
        <package android:name="org.lsposed.manager" />
        <package android:name="io.github.lsposed.manager" />
    </queries>

    <application
        android:name=".MixFlipApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="MIX Flip 外屏扩展"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="为小米 MIX Flip 外屏添加自定义图片、视频和按键页面" />
        <meta-data android:name="xposedminversion" android:value="93" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WidgetEditorActivity"
            android:exported="false" />

        <activity
            android:name=".AppPickerActivity"
            android:exported="false" />

        <provider
            android:name=".ConfigProvider"
            android:authorities="com.lucky.mixflipouter.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
